* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
  }

.signup-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    height: 100vh; 
  }
  
  .signup-page {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .have-account {
    text-align: center;
  }